body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #04040493;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.sidebar, .content {
    padding: 10px;
    box-sizing: border-box;
}

.sidebar {
    background-color: #000000;
    flex: 1;
    min-width: 200px;
}

.content {
    background-color: #000000;
    flex: 3;
    min-width: 300px;
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
}
